* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size:100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	margin: 0.3em auto 1.5em auto;}

h2 {
	font-size: 125%;
}

#container {
	width:99%;
	margin:auto;
}

section {
	float: left;
}

section div {		/*subheadings*/
	position:absolute;
	top:0;
	right:0;
	padding:0 10%;
	border-left:1px solid black;
	border-bottom: 1px solid black;
}

.col-content{
	border: 1px solid #000000;
	padding: 1.7em 12px 12px 5px;
	text-align: justify;
	position: relative;
	margin: 0 10px 10px 10px;
}

.col1 {
	background-color: #a6ceff;
}

.col2 {
	background-color: #a7f3ba;
}

.col3 {
	background-color: #ffe5c6;
}

p {margin: 0.5em}

@media (min-width: 992px) {	/*desktop*/
	section {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {	/*tablet view*/
	section {
		width: 50%;
	}
	div section:nth-child(3n) {
		clear: left;
		width: 100%;
	}
}

@media (max-width: 767px) {	/*mobile view*/
	section {
		width:100%;
	}
}
