body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
.navbar {
	min-height:60px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-nav li a{
	text-align:center
}

.navbar .divider{
background-color: #e5e5e5;
height: 1px;
margin: 9px 0;
overflow: hidden;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
/* END HEADER */

.col-content {
	background-color: #fafafa;
	padding: 10px;
	margin-bottom:25px;
}

h2 {
	margin-bottom: 20px;
}

h3 {
	margin:5px auto 8px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
 
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}



